* {
  box-sizing: border-box;
  margin: 0 auto;
}

:root {
  --dark-color: #353940;
  --secondary-color: #0cca98;
  --light-color: #ece8d9;
  --hicon-color: #ff5335;

  --main-font: "Lato", sans-serif;
  --secondary-font: "Open Sans", sans-serif;

  --transition: all 0.3s linear;
}

body {
  background-color: var(--dark-color);
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--secondary-font);
}

.menu {
  background-color: var(--secondary-color);
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*Header style*/

.navbar {
  background-color: var(--dark-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
  width: 100%;
}

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 60px;
  height: 50px;
}

.navbar a {
  margin: 0;
}

.navbar-ul {
  display: none;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar-ul.show {
  display: flex;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-link {
  padding: 10px;
}

.list-link a {
  text-decoration: none;
  color: var(--light-color);
  font-style: var(--secondary-font);
  font-weight: 600;
  font-size: 16px;
}

.list-link a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

/*Main style*/

.main {
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.greeting {
  width: 200px;
}

.title-name {
  font-size: 2.5em;
  font-family: var(--main-font);
  color: var(--light-color);
}

.title-role {
  font-size: 1.4em;
  font-family: "Lato", sans-serif;
  color: var(--secondary-color);
}

.skill {
  padding: 10px;
}

.skill > .fab {
  color: var(--hicon-color);
  font-size: 30px;
}

a > .fab {
  color: var(--dark-color);
  font-size: 20px;
  padding: 0 10px;
}

.arrow-container {
  width: 100%;
  text-align: right;
  padding-bottom: 30px;
}

.arrow-container > a {
  color: var(--light-color);
  font-size: 1.8em;
  cursor: pointer;
}

/*Section Projects style*/

.projects-container {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  background-color: var(--dark-color);
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: var(--light-color);
  font-family: var(--secondary-font);
}

.projects-container > h3 {
  width: 100%;
  border-top: 2px solid var(--secondary-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: var(--secondary-color);
  text-align: center;
  padding: 10px;
  font-size: 1em;
  text-transform: uppercase;
}

.project {
  margin: 50px;
  width: 100%;
}

.project-header {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  border-bottom: 1px solid var(--secondary-color);
}

.project-header ul {
  display: flex;
  text-decoration: none;
  color: var(--light-color);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.project-header ul > li a {
  text-decoration: none;
  color: var(--light-color);
  margin-right: 20px;
}

.project-title {
  font-size: 1.3em;
  margin-right: 0;
  text-align: right;
  padding: 20px;
  font-family: var(--main-font);
}

.project-img img {
  -webkit-filter: invert(40%) grayscale(100%) brightness(70%) sepia(100%)
    hue-rotate(-30deg) saturate(500%) contrast(2);
  filter: grayscale(100%) brightness(60%) sepia(100%) hue-rotate(-38deg)
    saturate(700%) contrast(0.7);
  width: 100%;
  border-radius: 5px;
}

.project-img img:hover {
  filter: none;
}

.project-sum {
  margin-top: 10px;
  text-align: left;
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.project-tools {
  padding: 0;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 0.6em;
  font-weight: 600;
}

.tool {
  border-radius: 3px;
  background-color: var(--secondary-color);
  color: var(--dark-color);
  margin: 3px 5px 3px 0;
  padding: 3px;
}

/*Aside Sidebar style*/

.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  display: grid;
  grid-template-rows: auto 1fr 2fr auto;
  row-gap: 1em;
  box-shadow: var(--secondary-color);
  transition: var(--transition);
  color: var(--dark-color);
  transform: translate(-120%);
}

.sidebar-toggle {
  background-color: transparent;
  font-weight: 600;
  font-size: 2em;
  padding: 10px;
  border: none;
}

.sidebar-toggle:focus {
  outline: none;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.sidebar-logo {
  width: 100%;
  height: 230px;
}

.close-btn {
  display: flex;
  align-self: flex-end;
  background-color: var(--secondary-color);
  color: var(--dark-color);
  border: none;
  font-size: 3em;
  padding: 0;
  padding-bottom: 30px;
  height: 100%;
}

.close-btn:focus {
  outline: none;
}

.sidebar-index {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-rows: 20% 20% 10%;
  row-gap: 1em;
  text-align: center;
  text-transform: uppercase;
}

.sidebar-index > .list-link a {
  font-size: 1.5em;
  padding: 0px;
  color: var(--light-color);
}

.sidebar-index > .list-link > a:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid var(--dark-color);
  text-decoration: none;
}

.sidebar-link {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
}

.sidebar-link li {
  margin: 0;
  padding: 0;
}

.sidebar-link i {
  font-size: 1.8em;
}

.sidebar-link > .list-link > a {
  padding: 0;
  font-size: 1.5em;
}

.show-sidebar {
  transform: translate(0);
}

/*Footer*/

.contact {
  margin-bottom: 50px;
}

.contact-list {
  display: flex;
  align-content: center;
  justify-content: center;
  list-style-type: none;
}

.contact-link a > .fab {
  color: var(--light-color);
}

/*ABOUT SECTION*/

.about-title {
  color: var(--secondary-color);
  text-transform: uppercase;
  text-align: right;
  margin: 10px 20px 5px 0;
}

.about-section {
  display: grid;
  grid-template-rows: auto 1fr;
  color: var(--light-color);
  margin: 0;
}

.about-center {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr auto;
}

.about-img-cont{
  margin-bottom: 30px;
}

.about-img {
  margin: 0;
  width: 300px;
  height: 300px;
  background: url('../images/about.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  border: 5px solid var(--secondary-color);  
}

.about {
  padding-bottom: 50px;
}

.content {
  display: none;
  background-color: var(--dark-color);
  padding: 20px;
}

.content.active {
  display: block;
  padding: 20px;
  min-height: 300px;
  color: var(--dark-color);
  background-color: var(--light-color);
}

.tab-btn {
  background-color: var(--dark-color);
  color: var(--light-color);
  text-transform: capitalize;
  border: none;
  font-size: 1em;
  font-weight: 600;
  padding: 10px 20px;
}

.tab-btn.active {
  background-color: var(--secondary-color);
  color: var(--dark-color);
  border: 1px solid var(--secondary-color);
}

.tab-btn:focus {
  outline: none;
}

.tab-btn:hover {
  border: 1px solid var(--secondary-color);
}

/*TABLET---------------------------------------------------------------------------------------*/

@media all and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .logo {
    width: 80px;
    height: 60px;
  }

  header {
    width: 100%;
  }

  .navbar {
    flex-wrap: nowrap;
    padding-right: 50px;
    padding-left: 50px;
  }

  .navbar-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    list-style-type: none;
  }
  .list-link {
    margin: 0;
  }

  .list-link a {
    font-size: 1.4em;
  }

  .projects-container > h3 {
    font-size: 1.4em;
  }

  .project {
    max-width: 600px;
  }

  .title-name {
    font-size: 4em;
  }

  .title-role {
    font-size: 3em;
  }

  .skill > .fab {
    font-size: 2.5em;
  }

  a > .fab {
    font-size: 2em;
  }

  .projects-container--title {
    padding-top: 3em;
    font-size: 4em;
  }

  .project {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    margin-top: 35px;
    padding: 0;
  }

  .project--side2 {
    width: 80vw;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
  }

  .project-tools {
    margin-top: 3px;
    font-size: 0.8em;
  }

  .project-header a {
    font-size: 1.3em;
  }

  .project-img {
    margin-top: 30px;
  }

  .project-title {
    font-size: 1.5em;
  }

  .project-sum {
    font-size: 1.3em;
  }
  .project-tools {
    font-size: smaller;
  }

  .tool {
    padding: 5px;
  }

  .arrow-container > a {
    font-size: 2em;
  }

  .sidebar {
    width: 400px;
  }

  .sidebar-index {
    width: 400px;
  }

  .about-section {
    margin: 50px;
  }

  .about-center {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .about-img {
    margin: 0;
    width: 300px;
    height: 300px;
    background: url('../images/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid var(--secondary-color);  
    border-radius: 0%;
  }
}

/* desktop, a partir de 1200px -------*/

@media screen and (min-width: 1200px) {
  .navbar {
    padding-right: 50px;
    padding-left: 100px;
  }

  .list-link a {
    font-size: 1.7em;
    padding-right: 50px;
  }

  .main {
    height: 70vh;
  }

  .projects-container > h3 {
    padding-top: 2em;
    margin-bottom: 2em;
    font-size: 2em;
  }

  .project {
    max-width: 1200px;
    margin-bottom: 50px;
  }

  .project:nth-of-type(2) .project-img {
    order: 1;
    margin-left: 20px;
  }

  .project-header a {
    font-size: 2em;
  }

  .project:nth-of-type(2) .project-header > h3 {
    width: 100%;
    text-align: left;
  }

  .project:nth-of-type(2) .project-header > ul {
    order: 1;
  }

  .project-title {
    font-size: 2.3em;
  }

  .project--side2 {
    width: 40vw;
  }

  .project-sum {
    font-size: 1.6em;
    margin-left: 0;
  }
  .project-tools {
    font-size: 1.2em;
  }

  .tool {
    padding: 8px;
    margin: 5px;
  }
  .menu {
    display: none;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
  }


  .about-center {
    display: flex;
    margin-top: 50px;
  }

  .about {
    width: 45vw;
  }

  .content.active {
    display: block;
    height: 289px;
    padding: 20px;
    color: var(--dark-color);
    background-color: var(--light-color);
  }

  .about-img-cont{
    margin-bottom: 30px;
  }
  
  .about-img {
    margin: 0;
    width: 350px;
    height: 350px;
    background: url('../images/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid var(--secondary-color);  
    border-radius: 0%;
  }

  .content.active>h4 {
    font-size: 1.2em;
  }

  .content.active> p {
    font-size: 1.1em;
    line-height: 1.5em;
  }
}
